{% extends 'base.html' %}

{% block title %}Список товаров{% endblock %}

{% block content %}
    <h3>Список товаров</h3>
<!-- Навигация для фильтрации -->
<nav>
    <h3>
        <a href="?">Все товары</a> |
        <a href="?category=Штучный паркет дуб">Штучный паркет дуб</a> |
        <a href="?category=Широкоформатный паркет дуб">Широкоформатный паркет дуб</a> |
        <a href="?category=Паркетная химия. Лак для паркета">Паркетная химия. Лак для паркета</a> |
        <a href="?category=Паркетная химия. Клей для паркета">Паркетная химия. Клей для паркета</a>
    </h3>
</nav>
<!-- Вывод списка товаров -->
<ul>
    {% for product in products %}
        <h4>
            <li>{{ product.name }} - {{ product.price }} руб.</li>
        </h4>
    {% endfor %}
</ul>
{% endblock %}