{% extends 'base.html' %}

{% load static %}

{% block title %}Товары в категории: {{ category_name }}{% endblock %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for product in products %}
        <div class="col">
            <div class="card h-100">
            <img src="{% static 'catalog/images/0001.jpg' %}" alt="foto" width='450px'>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p>Описание: {{ product.description }}</p>
                    <p>Цена: {{ product.price }} руб.</p>
                    <a href="#" class="btn btn-primary">Купить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
