{% extends 'base.html' %}

{% load static %}

{% block title %}Наши работы{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <h2>Наши работы</h2>
        <ul>
            <img src="{% static 'catalog/works/1.jpg'%}" alt=""/>
            <img src="{% static 'catalog/works/2.jpg'%}" alt=""/>
            <img src="{% static 'catalog/works/3.jpg'%}" alt=""/>
            <img src="{% static 'catalog/works/4.jpg'%}" alt=""/>
            <img src="{% static 'catalog/works/5.jpg'%}" alt=""/>
            <img src="{% static 'catalog/works/6.jpg'%}" alt=""/>
            <img src="{% static 'catalog/works/7.jpg'%}" alt=""/>
            <img src="{% static 'catalog/works/8.jpg'%}" alt=""/>
            <img src="{% static 'catalog/works/9.jpg'%}" alt=""/>
            <img src="{% static 'catalog/works/10.jpg'%}" alt=""/>
            <img src="{% static 'catalog/works/11.jpg'%}" alt=""/>
            <img src="{% static 'catalog/works/12.jpg'%}" alt=""/>
        </ul>
</div>
{% endblock %}