body {
    font-family: Arial, sans-serif;
    background-image: url('images/000.jpg');
}

header {
    background-color: #8a5832;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

main {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    flex-direction: column;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color :#8a5832;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #e6ba9a;
}

a {
    color: #402715;
}

a:visited {
    color: #5f030f;
}

a:hover {
    color: #2706e2;
    text-decoration: underline;
}

img {
    border-radius: 20%;
}

h2 {
    color: #333;
}

.btn {
    background-color: #8a5832;
    color: #fff
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #8a5832;
    color: #fff;
}